html {
    scroll-behavior: smooth;
  }
  
:root {
    --main-color: #FFFFFF;
    --accent-color: #18CFAB;
  }
  
body {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}

header {
    width: 100%;
    height: 1012px;
    background-image: url('../Img/Sections-background/section-1.jpg');
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
}

a {
    display: inline-block;
    text-decoration: none;
    color: var(--main-color);
}

.main-container {
    width: 100%;
    height: 100vh;    
}

.container {
    width: 1160px;
    margin: 0 auto;
    position: relative;
}

.navbar {
    width: 100%;
    height: 120px;
    background-color: rgba(94, 93, 88, 0.6);
}

.flex-container {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.logo-polygon {
    width: 58px;
    height: 67px;
    background-image: url('../img/logos/Polygon.png');
    background-repeat: no-repeat;
    width: 198px;
    display: flex;
}

.logo-h {
    font-size: 40px;
    line-height: 31px;
    color: var(--main-color);
    padding-top: 17px;
    padding-left: 13px;
}

.logo-the {
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    margin-top: 10px;
    margin-left: 20px;
    color: var(--main-color);    
}

.logo-ham {
    font-size: 32px;
    line-height: 48px;
    margin-top: 10px;
    color: var(--accent-color);
}

.navbar-menu {
    width: 657px;    
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    line-height: 25px;
}

.navbar-menu-item {
    color: rgba(255, 255, 255, 0.6);
    margin-top: 50px;
    height: 70px;
}

.navbar-menu-item:hover {
    color: var(--accent-color);   
    border-bottom: 2px solid var(--accent-color);
}

.navbar-search-logo {
    width: 21px;
    height: 20px;
    margin-bottom: 42px;
    background-image: url('../img/logos/Search-icon.png');
}

.preview {
    text-align: center;
    margin-top: 284px;
}

.preview-abovetitle {
    display: inline-block;
    font-size: 35px;
    line-height: 1px;    
    color: var(--main-color);
    text-transform: uppercase;
}

.preview-abovetitle-green {
    color: var(--accent-color);
}

.preview-title {
    font-size: 78px;
    line-height: 1px;
    margin-top: 66px;
    color: var(--main-color);
    text-transform: uppercase;
}

.preview-subtitle {
    font-weight: 400;
    font-size: 34px;
    line-height: 1px;
    margin-top: 76px;
    margin-bottom: 141px;
    color: #D4D4D4;
}


.purchase-link-container {
    display: flex;
    justify-content: center;
    gap: 26px;
}

.purchase-link {
    display: flex;
    flex-direction: column;
    width: 169px;
    height: 64px;
    position: relative;
}

.top-border-purchase {
    width: 169px;
    height: 20px;
    border-radius: 4px;
    background-color: var(--main-color);
}

.purchase-now {
    margin-top: 5px;
    width: 169px;
    height: 64px;
    background-color: #00CBF6;
    color: var(--main-color);
    padding-top: 18px;
    border-radius: 4px;
    font-size: 15px;
    line-height: 32px;
    position: absolute;
    transition: 0.25s;
}

.purchase-now:hover {
    margin-top: 0;
}

.explore-now-color {
    background-color: var(--accent-color);
}

.options-menu {
    width: 100%;
    height: 377px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.options-menu-item {
    width: 25%;
    border-top: 8px solid var(--main-color);
    border-bottom: 8px solid var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
}

.dark-green {
    background-color: #1C2A33;
    color: var(--accent-color);    
}

.light-green {
    background-color: var(--accent-color);
    color: var(--main-color);
}

.options-menu-logo {
    width: 120px;
    height: 120px;
    background-size: cover;
}

.option1-logo {
    background-image: url("../img/logos/option1.jpg");
}

.option2-logo {
    background-image: url("../img/logos/option2.png");
}

.option3-logo {
    background-image: url("../img/logos/option3.png");
}

.option4-logo {
    background-image: url("../img/logos/option4.png");
}

.service {
    text-align: center;
    margin-top: 84px;
    margin-bottom: 90px;
}

.section-title-box {
    width: 100%;
    color: #4E4E4E;
    padding-bottom: 50px;
    text-align: center;
    position: relative;
}

.section-title {
    margin: auto;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
}

.section-title::before {
    content: "";
    border-bottom: 1px solid var(--accent-color);
    display: block;
    width: 76px;
    margin-top: 70px;
    margin-left: 530px;
    position: absolute;
}

.section-title::after {
    content: "";
    border-bottom: 1px solid var(--accent-color);
    display: block;
    width: 76px;
    margin-top: 34px;
    margin-left: 540px;
    position: absolute;
}

.service-menu {    
    display: flex;
    margin-top: 60px;
}

.s-menu-item {
    width: 194px;
    height: 72px;
    border: 1px solid #EDEFEF;
    padding-top: 18px;
    font-weight: 400;
    line-height: 39px;
    color: #717171;
    cursor: pointer;
    transition: 0.3s;
}

.s-menu-item:hover {
    border: 1px solid var(--accent-color);
}

.active-s-menu-item {
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
    color: var(--main-color);
}

.triangle-box {
    width: 100%;
    height: 13px;    
    display: flex;
}

.t-box {
    width: 193px;
    opacity: 0;
    transition: 0.25s;
}

.t-box-active {
    opacity: 100;
}

.triangle {
    margin: auto;
    margin-bottom: 1px;
    width: 0;
    height: 0;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top: 13px solid var(--accent-color);
}

.s-menu-content {
    margin-top: 13px;
    height: 139px;
    width: 100%;    
    display: flex;
    justify-content: space-between;    
}

.s-menu-image {
    display: none;
    width: 192px;
    height: 139px;
    background-position: center;
    background-size: cover;

}

.s-image {
    width: 192px;
    height: 139px;
}

.s-menu-text {
    display: none;
    width: 952px;
    font-weight: 300;
    font-size: 13.645px;
    line-height: 24px;
    margin-bottom: 10px;
    text-align: justify;
}

.image-active, .text-active {
    display: block;
}

.purchase {
    width: 100%;
    height: 476px;
    text-align: center;
    background: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) ), url('../img/Sections-background/section-2.jpg');
    background-position: top;
    background-size: cover;
    background-attachment: fixed ;
}

.purchase-title {
    padding-top: 126px;
    font-size: 40px;
    line-height: 40px;
    color: var(--accent-color);
    text-transform: uppercase;
}

.purchase-subtitle {
    margin-top: 13px;
    margin-bottom: 70px;
    font-weight: 400;
    line-height: 40px;
    color: #D8D8D8;
}

.purchase-link-alone {
    margin: 0 auto;
}

.purchase-alone-color {
    background-color: var(--accent-color);
}

.work {
    padding-top: 95px;
    background-color:#E9EDEF;
    position: relative;
    padding-bottom: 100px;
}

.work-list {
    width: 582px;
    height: 58px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 70px;
    border: 1px solid #DADADA;
    text-align: center;
    display: flex;
    font-weight: 400;
    font-size: 14px;
    line-height: 42px;  
}

.list-item {
    border: 1px solid #D4D4D4;
    height: 58px;
    padding-top: 7px;
    color: #717171;
    cursor: pointer;    
}

.list-item-active {
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
    padding-top: 6px;
}

.all-tab {
    width: 79px;
}

.graphic-tab {
    width: 143px;
}

.web-tab {
    width: 117px;
}

.landing-tab {
    width: 137px;
}

.wordpress-tab {
    width: 106px;
}

.grid-menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 0 auto;
    width: 100%;
}

.grid-menu-item {
    position: relative;
    width: 290px;
    height: 228px;
}

.grid-menu-item > img{
    width: 100%;
    height: 100%;
}

.grid-hover {
    border-top: 6px solid var(--accent-color);
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    display: none;
}

/* changed this css hover for jQuery in work.js > grid-item animation: */
/* .grid-menu-item:hover .grid-hover {
    background-color: #E9EDEF;
    display: block;
} */

.display-none {
    display: none;
}

.blocks-item {
    display: flex;
}

.figures {
    margin: auto;
    margin-top: 48px;
    width: 85px;
    height: 41px;
    position: relative;    
}

.elipse1 {
    width: 41px;
    height: 41px;
    background-image: url("../img/logos/EllipseWhite.png");
    background-position: center;
    background-size: cover;
    position: absolute;    
}

.figure {
    width: 20px;
    height: 20px;
    background-image: url("../img/logos/hover-figure.png");
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 11px;
    left: 11px; 
}

.elipse2 {
    width: 41px;
    height: 41px;
    background-image: url("../img/logos/Ellipse.png");
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 43px;
    top: -1px
}

.square {
    width: 12px;
    height: 11px;
    background-color: var(--main-color);
    position: absolute;    
    top: 16px;
    left: 15px;
}

.creative-design {    
    width: 160px;
    position: absolute;
    color: var(--accent-color);
    font-size: 14px;
    line-height: 25px;
    text-transform: uppercase;
    top: 80px;
    left: -22px;
}

.type {
    width: 160px;
    font-weight: 300;
    font-size: 12px;
    line-height: 25px;
    color: #8A8A8A;
    position: absolute;
    top: 102px;
}

.spinner-box {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    position: absolute;
    color: var(--accent-color);
    display: none;
}

.load-more-btn {
    display: flex;
    justify-content: space-around;
    width: 168px;
    height: 63px;
    background-color: var(--accent-color);
    font-size: 14px;
    line-height: 42px;
    color: var(--main-color);
    cursor: pointer;
    padding-top: 12px;
    padding-right: 10px;
    border-radius: 4px;
    margin: 0 auto;  
}

.plus {
    width: 18px;
    height: 19px;
    margin-top: 10px;
    margin-left: 15px;
    background-image: url('../img/logos/Plus.png');
    background-repeat: no-repeat;
}

.breaking {
    width: 100%;
    height: 958px;
    padding-top: 82px;
    text-align: center;
}

.breaking-grid-box {
    width: 100%;
    height: 650px;
    margin-top: 50px;    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 35px;
    row-gap: 46px;
}

.breaking-bg {
    width: 263px;
    height: 208px;
    display: flex;
    justify-content: flex-end;
}

.date {
    width: 70px;
    height: 68px;
    background-color: #1C2A33;
    font-weight: 400;
    line-height: 25px;
    color: var(--main-color);
    padding-top: 9px;
    transition: 0.5s;    
}

.breaking-color {
    height: 280px;
    border: 1px solid #f2f4f5;
    color: #717171;
    background-color: #f8fcfe;
    transition: 0.5s;
}

.breaking-color:hover {
    color: var(--accent-color);
}

.breaking-color:hover .date {
    background-color: var(--accent-color);
}

.date:hover {
    background-color: var(--accent-color);
}

.bg-one {
    background-image: url('../img/Breaking-news/Block1.png');
}

.bg-two {
    background-image: url('../img/Breaking-news/Block2.png');
}

.bg-three {
    background-image: url('../img/Breaking-news/Block3.png');
}

.bg-four {
    background-image: url('../img/Breaking-news/Block4.png');
}

.bg-five {
    background-image: url('../img/Breaking-news/Block5.png');
}

.bg-six {
    background-image: url('../img/Breaking-news/Block6.png');
}

.bg-seven {
    background-image: url('../img/Breaking-news/Block7.png');
}

.bg-eight {
    background-image: url('../img/Breaking-news/Block8.png');
}

.blog-post {
    font-size: 18px;
    line-height: 39px;    
    margin-right: 40px;
    height: 30px;
}

.comment {
    margin-right: 40px;
}

.admin::after {
    content: "";
    border-right: 1px solid #717171;
    width: 5px;
    margin-left: 20px;
    margin-right: 20px;
    height: inherit;
}

.post-author {
    font-weight: 300;
    font-size: 14px;
    line-height: 39px;
    width: 100%; 
    height: 20px;
    color: #777777;
}

.clients-review {
    width: 100%;
    height: 829px;
    background: linear-gradient( rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35) ), url('../img/Sections-background/section-3.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 98px;
    text-align: center;
}

.client-title-box{
    width: 100%;
    padding-bottom: 10px;
    text-align: center;
}

.client-title {
    color: var(--main-color);
}

.client-container-all {
    height: 358px;
    margin-top: 136px;
}

.client-container-all::before {
    content: "";
    width: 40px;
    height: 28px;
    background-image: url("../img/logos/quotes.png");
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 554px;
    top: 128px;
}

.client-container {
    display: none;
}

.client-container:first-child {
    display: block;
}

.client-flex-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.client-review {
    margin-bottom: 36px;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #BBBBBB;
}

.client-box {    
    height: 60px;
    margin-bottom: 36px;
}

.client-name {
    line-height: 30px;
    color: var(--accent-color);
}

.client-job {
    font-weight: 300;
    font-size: 13px;
    line-height: 27px;
    color: #BBBBBB;
}

.client-large-photo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 166px;
    height: 166px;
    border-radius: 80px;
    background: #1fdab531;
}

.client-large-photo img {
    width: 143px;
    height: 143px;
}

.client-slider-box {
    margin: auto;
    margin-top: 87px;
    padding-bottom: 100px;
    width: 487px;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.client-slider-button {
    width: 31px;
    height: 31px;
    border: 1px solid #BBBBBB;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.25s;
}

.client-prev {
    background-image: url('../img/logos/left.png');
}

.client-next {
    background-image: url('../img/logos/right.png');
}

.client-slider-button:hover {
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
}

.client-prev:hover {
    background-image: url('../img/logos/left-hover.png');
}

.client-next:hover {
    background-image: url('../img/logos/right-hover.png');
}

.client-photo-wrapper {
    width: 353px;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.client-photo {
    width: 61px;
    height: 61px;
    border-radius: 100px;
    background: #1fdab531;
    display: inline-block;
    transition: 0.5s;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 86%;
}

.active-client-photo {
    margin-bottom: 20px;
} 

.client-photo-one {
    background-image: url('../img/photos/Photo1.png');
}

.client-photo-two {
    background-image: url('../img/photos/Photo2.png');
}

.client-photo-three {
    background-image: url('../img/photos/Photo3.png');
}

.client-photo-four {
    background-image: url('../img/photos/Photo4.png');
}

.gallery {
    padding-top: 95px;
    padding-bottom: 65px;
}

.gallery-grid {
    padding-top: 65px;
    display: flex;
    justify-content: space-between;
}

.grid-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.grid-column1, .grid-column2 {
    width: 378px;
}

.grid-column3 {
    width: 363px;
}

.grid-items-small {
    width: 363px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 3px;
}

.grid-items-small img {
    height: 92px;
}

.grid-items-medium {
    width: 363px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 3px;
}

.grid-items-medium img {
    height: 168px;
}

.gallery-img{
    display: none;
}

.gallery-img-active {
    display: block;
}

footer {
    width: 100%;
    height: 121px;
    background-color:#22353F;
    text-align: center;
}

.copyright {
    color: #AEAEAE;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    padding-top: 48px;
}

.theham-link {
    color: var(--accent-color);
}